:root {
    --txt-01: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

section {
    margin-bottom: 5rem;
}

h1 {
    color: #ffffff;
    text-align: center;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 5mm;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    padding-left: 3.1cm;
    font-size: 8mm;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    padding-left: 43rem;
    padding-bottom: 10mm;
    font-size: 12mm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h5 {
    padding-left: 4.5cm;
    font-size: 8mm;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h6 {
    padding-left: 4.7cm;
    font-size: 8mm;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 8, 161);
}

main {
    padding: 10px;
}

header input {
    background-color: azure;
}


header nav li {
    display: contents;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header i {
    margin-left: 20px;
    font-size: medium;
}

header a {
    font-size: 130%;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main a {
    text-decoration: none;
    color: #fff;
    font-size: 2.3ch;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main h1 {
    padding-left: 0cm;
    font-size: 8mm;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    padding-top: 2.5cm;
    padding-left: 1cm;
    width: 100%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


